<div class="profile-box">

  <div class="profile-name">
    <span></span>
    <div class="profile-name-sub">
        Créé le {{profile.data.creationDate | dateFormat:'DD/MM/YYYY'}}
    </div>
  </div>

  <div class="profile-pic">
    <img ng-src="{{profile.data.gravatarUrl}}"/>
  </div>

  <div class="profile-rank">
    <span>{{profile.data.levelLabel}}</span>
  </div>

  <div class="profile-xp">
    <span class="lvl">Niveau {{profile.data.lvl}}</span>
    <br/>
    <div class="xp-bar">
      <div class="xp-content" ng-style="{width: profile.computedPercent +'%'}"></div>
    </div>
    <br/>
    <span class="xp">{{profile.data.xp}} / {{profile.totalXp}}  XP</span>
  </div>

  <div class="profile-desc">
    <i class="fa fa-quote-left"></i>
    {{profile.data.desc}}
    <i class="fa fa-quote-right"></i>
  </div>

  <a href="/#!/messages">Messages</a>
</div>
